<div class="recipe" [ngClass]="{'active-recipe': active}">
  <div class="recipe-icon">
    <img src="{{recipe.image_url}}" alt="{{recipe.name}}" class="h-100">
  </div>
  <div class="recipe-info">
    <div class="recipe-title">{{recipe.name}}</div>
    <div class="w-100 flex justify-content-start align-items-center">
      <ngx-star-rating class="recipe-rating" [(ngModel)]="recipe.rating" id="{{index}}" [disabled]="true"></ngx-star-rating >
    </div>
    <div class="recipe-description">{{recipe.description}}</div>
  </div>
</div>
