.reset-password-container {
  & .title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 7vh;
    font-weight: 600;
    color: cornflowerblue;
    font-family: 'Quicksand', 'Lato', sans-serif;
  }

  & .reset-btn {
    margin-top: 30px;
    border-radius: 40px;
    font-size: 19px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    font-weight: 600;
    outline: 0;
    padding: 9px 50px;
    letter-spacing: .5px;
    background: #696969;
    cursor: pointer;

    &:disabled{
      cursor: not-allowed;
    }
  }

  & .footer {
    position: absolute;
    bottom: 2vh;
    font-size: 16px;
    font-family: 'Quicksand', 'Lato', 'Montserrat', sans-serif;
    user-select: none;

    a {
      color: #9db692;
      padding-bottom: 5px;
      user-select: unset;

      &:hover {
        text-decoration: none !important;
        color: #86a07a;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 800px) {
  .reset-btn {
    font-size: 17px !important;
    padding: 7px 40px !important;
  }

  .title {
    font-size: 1.4rem !important;
  }
}

.btn-success {
  background: #28a745 !important;
}
