<div class="reset-password-container w-100 flex flex-column justify-content-start align-items-center">
  <div class="w-100 title">Forgot Password ?</div>
  <form autofocus
        (ngSubmit)="sendResetEmail()" autocomplete="off" class="w-100 flex flex-column justify-content-start align-items-center">
    <rb-custom-input class="w-100 mb-3"
                     label="Email" [control]="emailControl"
                     placeholder="Email"
                     type="email"></rb-custom-input>

    <div class="w-100 flex justify-content-center align-items-center align-items-center">
      <button class="reset-btn"
              [ngClass]="{'btn-success': emailControl.valid}"
              [disabled]="emailControl.invalid || loading" type="submit">Send Reset Mail</button>
    </div>
  </form>
  <div class="w-100 flex justify-content-center footer">
    <p>Go back to <a routerLink="../login">Sign In</a></p>
  </div>
</div>
