<div class="signup-container w-100 flex flex-column justify-content-start align-items-center"
     [ngClass]="{'pointer-none': (loading | async)}">
  <form (ngSubmit)="signUp()" autofocus
        autocomplete="off" class="w-100 flex flex-column justify-content-start align-items-center">

    <rb-input class="w-100 mb-3"
              label="Username" [control]="control.username"
              placeholder="Username"></rb-input>

    <rb-input class="w-100 mb-3"
              label="Email" [control]="control.email"
              placeholder="Email"
              type="email"></rb-input>

    <rb-input class="w-100 mb-3"
              label="Password" [control]="control.password"
              placeholder="Password"
              type="password"></rb-input>

    <div class="w-100 flex justify-content-center align-items-center align-items-center">
      <button class="sign-up-btn"
              [ngClass]="{'btn-success': signupForm.valid}"
              [disabled]="signupForm.invalid || (loading | async)" type="submit">
        <i *ngIf="(loading | async)" class="fa fa-spinner fa-spin" style="margin-right: 5px;"></i>
        Sign Up
      </button>
    </div>
  </form>
  <div class="w-100 flex flex-column justify-content-center">
    <div class="separator flex flex-row justify-content-center align-items-center">
      <div class="row dropdown-divider" style="width: 120px; margin-right: 10px;"></div>
      or
      <div class="row dropdown-divider" style="width: 120px; margin-left: 10px;"></div>
    </div>
    <div class="sign-up-google flex flex-row justify-content-center align-items-center"
         (click)="registerWithGoogle()">
      <img src="../../../../../assets/icons/google.png"/> Sign Up with Google
    </div>
  </div>
  <div class="w-100 flex justify-content-center footer">
    <p>Already registered? <a routerLink="../login">Sign In</a></p>
  </div>
</div>
