<div class="header flex flex-row justify-content-between" (window:resize)="onResize()">
  <dl-menu-icon *ngIf="!isDesktopMode"></dl-menu-icon>
  <div class="app-logo">
    <img src="../../../../../assets/images/recipe-logo.png" alt="">
  </div>
  <div *ngIf="isDesktopMode" class="menu-items flex flex-row">
    <a routerLinkActive="active" routerLink="recipes" class="menu-item flex align-items-center text-decoration-none">Recipe</a>
    <a routerLinkActive="active" routerLink="shopping-list" class="menu-item flex align-items-center text-decoration-none">Shopping List</a>
    <a routerLinkActive="active" routerLink="/auth/logout" class="menu-item flex align-items-center text-decoration-none">Logout</a>
  </div>
</div>
