<form ngForm (ngSubmit)="save()" class="recipe-form-container flex flex-column align-items-center mt-5 mb-3"
     [ngClass]="{'pointer-none': loading}">

  <rb-input class="w-100 mb-3" label="Recipe Name" [control]="control.name"
            appearance="outlined" placeholder="Recipe Name"></rb-input>

  <div class="row w-100 flex flex-column justify-content-start mb-3">
    <div class="label">Who can view this?</div>
    <div class="input-group">
      <select class="custom-select" [formControl]="control.is_private">
        <option value="false">Anyone</option>
        <option value="true">Only Me</option>
      </select>
    </div>
  </div>

  <div class="row w-100 flex flex-column justify-content-start mb-3">
    <rb-input class="w-100" type="file" label="Image Url" placeholder="Image Url" appearance="outlined"
              [pattern]="urlRegex"
              [control]="control.image_url" (onFileSelected)="onFileSelected($event)"></rb-input>

    <div class="progress mt-2" *ngIf="imageUploading" style="height: .6rem !important;">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
           role="progressbar"
           aria-valuemin="0"
           aria-valuemax="100" [ngStyle]="{'width': imageUploadProgress + '%'}"></div>
    </div>

    <div class="w-100 flex mt-2 flex justify-content-start" *ngIf="!imageUploading && control.image_url.value">
      <img class="image-preview" src="{{control.image_url.value}}" alt="">
    </div>
  </div>

  <rb-input class="w-100 mb-3" label="Description" [control]="control.description"
            appearance="outlined" inputType="textarea" placeholder="Description"></rb-input>

  <rb-input class="w-100 mb-3" label="Recipe"
            [control]="control.recipe" inputType="quill"
            appearance="outlined" placeholder="Enter your recipe here."></rb-input>

  <div class="row w-100 flex flex-column justify-content-start mb-5">
    <div class="label">Ingredients</div>
    <div class="ingredient flex flex-row justify-content-between mb-2"
         *ngFor="let ingredient of control.ingredients.controls; let i = index">

      <rb-input class="ingredient-name"
                [control]="ingredient.get('name')"
                appearance="outlined"
                placeholder="Ingredient Name"></rb-input>

      <rb-input class="ingredient-qty mr-2 ml-2"
                type="number"
                [control]="ingredient.get('quantity')"
                appearance="outlined"
                placeholder="Quantity"></rb-input>

      <rb-input class="ingredient-unit mr-2"
                [control]="ingredient.get('unit')"
                appearance="outlined"
                placeholder="Unit"></rb-input>

      <div class="ingredient-remove">
        <button type="button" (click)="removeIngredientControl(i)" class="btn btn-dark">X</button>
      </div>
    </div>
    <div class="add-button flex flex-row justify-content-start align-items-center mt-3">
      <button type="button" class="btn btn-primary" (click)="addIngredientControl()">+</button>
    </div>
  </div>

  <div class="row w-100 flex justify-content-end align-items-center">
    <button type="button" class="btn btn-danger mr-3" (click)="cancel()">Cancel</button>
    <button type="submit" class="save-btn btn btn-success" [disabled]="recipeForm.invalid">
      <i *ngIf="loading" class="fa fa-spinner fa-spin" style="margin-right: 5px;"></i>
      {{isEditMode ? 'Update' : 'Save'}}
    </button>
  </div>

</form>
