<div class="recipe-form-container flex flex-column align-items-center mt-5 mb-3"
     [ngClass]="{'pointer-none': loading}">
  <div class="row w-100 flex flex-column justify-content-start mb-3">
    <div class="label">Recipe Name</div>
    <div class="input-group">
      <input type="text" class="form-control"
             placeholder="Recipe Name" [formControl]="control.name">
    </div>
  </div>
  <div class="row w-100 flex flex-column justify-content-start mb-3">
    <div class="label">Who can view this?</div>
    <div class="input-group">
      <select class="custom-select" [formControl]="control.is_private">
        <option value="false">Anyone</option>
        <option value="true">Only Me</option>
      </select>
    </div>
  </div>
  <div class="row w-100 flex flex-column justify-content-start mb-3 image-block">
    <div class="label">Image Url</div>
    <div class="input-group">
      <input type="text" class="form-control"
             placeholder="Image Url" [formControl]="control.image_url">
      <div class="custom-file">
        <input type="file" class="custom-file-input" accept="image/*"
               id="inputGroupFile04"  (change)="onFileSelected($event)">
        <label class="custom-file-label" for="inputGroupFile04">
          <img src="../../../../../../assets/icons/add-image.png"/>
        </label>
      </div>
    </div>
    <div class="progress mt-2" *ngIf="imageUploading" style="height: .6rem !important;">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
           role="progressbar"
           aria-valuemin="0"
           aria-valuemax="100" [ngStyle]="{'width': imageUploadProgress + '%'}"></div>
    </div>
    <div class="w-100 flex mt-2 flex justify-content-start" *ngIf="!imageUploading && control.image_url.value">
      <img class="image-preview" src="{{control.image_url.value}}" alt="">
    </div>
  </div>
  <div class="row w-100 flex flex-column justify-content-start mb-3">
    <div class="label">Description</div>
    <div class="input-group">
      <textarea type="text" class="form-control"
                placeholder="Description" [formControl]="control.description"></textarea>
    </div>
  </div>
  <div class="row w-100 flex flex-column justify-content-start mb-3">
    <div class="label">Recipe</div>
    <quill-editor
      placeholder="Enter your recipe here."
      [modules]="getQuillModules()"
      [styles]="{'height': '250px', 'max-width': '100%', 'width': '100%'}"
      [formControl]="control.recipe">
    </quill-editor>
  </div>
  <div class="row w-100 flex flex-column justify-content-start mb-5">
    <div class="label">Ingredients</div>
    <div class="ingredient flex flex-row justify-content-between mb-2" *ngFor="let ingredient of control.ingredients.controls; let i = index">
      <input type="text"
             class="ingredient-name form-control text-truncate"
             placeholder="Ingredient Name"
             [formControl]="control.ingredients.controls[i].get('name')">

      <input type="number"
             class="ingredient-qty form-control mr-2 ml-2 text-truncate"
             placeholder="Quantity"
             [formControl]="control.ingredients.controls[i].get('quantity')">

      <input type="text"
             class="ingredient-unit form-control mr-2 text-truncate"
             placeholder="Unit"
             [formControl]="control.ingredients.controls[i].get('unit')">

      <div class="ingredient-remove">
        <button type="button" (click)="removeIngredientControl(i)" class="btn btn-dark">X</button>
      </div>
    </div>
    <div class="add-button flex flex-row justify-content-start align-items-center mt-3">
      <button type="button" class="btn btn-primary" (click)="addIngredientControl()">+</button>
    </div>
  </div>
  <div class="row w-100 flex justify-content-end align-items-center">
    <button type="button" class="btn btn-danger mr-3" (click)="cancel()">Cancel</button>
    <button type="button" class="save-btn btn btn-success" [disabled]="recipeForm.invalid" (click)="save()">
      <i *ngIf="loading" class="fa fa-spinner fa-spin" style="margin-right: 5px;"></i>
      {{isEditMode ? 'Update' : 'Save'}}
    </button>
  </div>
</div>
