<div class="recipe-container flex flex-column justify-content-start align-items-center">
  <div class="row w-100 flex justify-content-between align-items-center">
    <div class="flex justify-content-start align-items-center flex-wrap">
      <button type="button" class="btn btn-success mr-3 mb-2" (click)="createNewRecipe()">Add New Recipe</button>
      <div class="btn-group mb-2">
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split flex justify-content-between align-items-center"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{isPrivateMode ? 'Private': 'Public'}} <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu p-0" style="z-index: 500; width: fit-content; min-width: fit-content !important;">
          <p class="drop-btn dropdown-item m-0 py-1 px-2" (click)="toggleViewMode(false)">Public</p>
          <p class="drop-btn dropdown-item m-0 py-1 px-2" (click)="toggleViewMode(true)">Private</p>
        </div>
      </div>
    </div>
    <div class="flex mb-2 filter">
      <rb-filter-bar class="w-100" [control]="filterControl" placeholder="Search Recipes..."></rb-filter-bar>
    </div>
  </div>
  <div class="w-100 dropdown-divider mt-3 mb-2"></div>
  <div class="row w-100 flex justify-content-between align-items-start pt-4">
    <div class="col-lg-12 px-0">
      <rb-recipes-list [filterValue]="filterControl.value" class="w-100" [isPrivateMode]="isPrivateMode"></rb-recipes-list>
      <div class="row dropdown-divider mt-5 mb-4"></div>
    </div>
  </div>
</div>
