@import "fonts";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

*{
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar{
    display: none;
  }
}

.flex {
  display: flex;
}

button:disabled{
  cursor: not-allowed;
}

.pointer-none {
  pointer-events: none;
}
